
<div class='b row'>
	<div>
		<h3 class="container">
		Yelp Camp
	</h3>
	</div>
	<div>
		<ul style="list-style-type:none;">
			<li>Solutions</li>
			<li>Products</li>
			<li>For Bussiness</li>
			<li>For Campers</li>
		</ul>
	</div>
	<div>
		<h3 style="font-weight:bold">
			Follow Us On :-
		</h3>
		<a href="#" style="color:#FC67F5" class="fab fa-instagram fa-2x"></a>
		<a href="#" style="color:blue" class="fab fa-facebook fa-2x"></a>
		<a href="#" style="color:green" class="fab fa-whatsapp fa-2x"></a>
		<a href="#" style="color:#6777FF" class="fab fa-discord fa-2x"></a>
	</div>
	
</div>


<div class="footer" style="color:red;">
  <p>Trademark - Blitz 2020. All Rights Reserved<br>
Developed by Deep Debnath</p>
</div>

</body>
</html>





