<!DOCTYPE html>
<html>
<head>
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Yelp Camp</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/app.css">
	
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

	
	


</head>
<body id="qy">
	
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/campground"><i class="fas fa-hiking"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/newcamp">Add Campground </a>
      </li>
    	
    </ul>
	  <ul class="navbar-nav ml-auto">
		<%  if(!currentUser){%>
      <li class="nav-item">
        <a class="nav-link" href="/campground/login">Login </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/campground/register">Sign Up </a>
      </li><%}else{%>
		  <li class="nav-item dd">Welcome <%=currentUser.username%></li>
		<li class="nav-item">
        <a class="nav-link" href="/logout">Logout </a>
      </li>
     <% }%>
    </ul>
  </div>		
</nav>
	
	<div class='container'>

	<%if(error && error.length>0){%>
	<div class="alert alert-danger" role="alert">
  <%= error%>
	</div><%}if(success && success.length>0){%>
	<div class="alert alert-success" role="alert">
 <%= success%>
</div><%}%>
		</div>
	


	
	
	
	
	
	
	

<div style="padding-top: 100px;
    color: white;
    padding-left: 130px;
    padding-right: 130px;">
  <h1 class="display-4">Yelp Camp</h1><hr class="my-4">
  <p style="color:white;">Camping is an outdoor activity involving overnight stays away from home in a shelter, such as a tent or a recreational vehicle. Typically participants leave developed areas to spend time outdoors in more natural ones in pursuit of activities providing them enjoyment!!!</p>
	<a href="/campground" class='btn btn-primary' style="margin-top: 50px;">Get Started</a>
  
</div>

	
	
	
	<div class='container'>
		<div style="color: black;margin-top: 300px;text-align: center;margin-bottom:60px;font-size:3em;font-family: 'Indie Flower', cursive;">
			OUR SERVICES
		</div>
		
		<div class="row" style="justify-content:space-around;">
		<div class="m">
			<p class="fas fa-camera-retro fa-5x" style="display:block;margin-left:83px;"></p>
			<h3 class="gh">
				Photos & Videos
			</h3>
			<p class="gh">
				Our special team provide best time to visit the place where you can capture your memories.
			</p>
		</div>
		<div class="m">
			<p class="fas fa-user-friends fa-5x" style="display:block;margin-left:83px;"></p>
			<h3 class="gh">
				Specialized Team
			</h3>
			<p class="gh">
				Our team is handpicked by the owner and best in class. They have around 10yrs of experience.
			</p>
		</div>
		<div class="m">
			<p class="fas fa-rupee-sign fa-5x" style="display:block;margin-left:100px;"></p>
			<h3 class="gh">
				Low cost
			</h3>
			<p class="gh">
				Our page provides lowest price on camp after compling all the results from other sites
			</p>
			
		</div>
		</div>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
<!-- <div>
	<p>
		ssss
		<h1>
			YELP CAMP
	</h1>
	</p>
</div>
 -->
<%- include("partials/footer") %>
