<%- include("partials/header") %>

<div class="container">
<form action="/campground/register" method="post">
  <div class="form-group">
    	<label>Username</label>
    	<input type="text" class="form-control" name="username" placeholder="username">
  </div>
  <div class="form-group">
    	<label>Password</label>
    	<input type="password" class="form-control" name="password" placeholder="password">
  </div>
  
  <button>
		Sign Up
  </button> 

	</form></div>

<%- include("partials/footer") %>